small {
    margin: 4px;
  }
  input {
    border: 1px solid black;
    padding: 3px
  }
  .random {
    margin-top: 100px
  }
  .container {
      width: 600px;
  }
  h2 {
      margin: 30px;
  }
* {
  font-family: 'Quicksand', sans-serif;

}